.wrapper{
    border: 1px solid white;
}
.characterSheet{
    max-width: 1600px;
    margin: 0 auto;
}
.metaWrapper{
    border: 1px solid white;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    gap: 16px;
}

.actionButtons{
    display: flex;
    justify-content: end;
    button{
        align-items: center;
    }
}

.bottomGrid{
    display: flex;
    & > :nth-child(1){
        width: 300px;
    }
    & > :not(:nth-child(1)){
        flex: 1;
    }
}

.meta{
    display: flex;
    flex-direction: column;
}
.stat{
    padding: 8px;
    border-radius: 4px;
    gap: 8px;
    display: flex;
    & > div:nth-child(1){
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
}
.statWrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 4px;
}
.statNumberWrapper{
    min-width: 80px;
}
.skills{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.statNumber{
    font-size: 2rem;
}
.crucialStats{
    flex: 1;
    justify-content: center;
    display: flex;
    gap: 12px;
}
.crucialStatWrapper{
    border: 1px solid white;
    padding: 4px;
    border-radius: 4px;
    font-size: 1.2rem;
}
.actions, .inventory, .features, .spells{
    border: 1px solid white;
}